# Project Title
### Data Engineering Capstone Project

#### Project Summary
--describe your project at a high level--

The project follows the follow steps:
* Step 1: Scope the Project and Gather Data
* Step 2: Explore and Assess the Data
* Step 3: Define the Data Model
* Step 4: Run ETL to Model the Data
* Step 5: Complete Project Write Up

In [2]:
# Do all imports and installs here
import pandas as pd
import datetime as dt

from pyspark.sql import SparkSession
spark = SparkSession.builder.\
config("spark.jars.packages", "org.apache.hadoop:hadoop-aws:2.7.0") \
.getOrCreate()

from pyspark.sql.functions import first
from pyspark.sql.functions import upper, col
from pyspark.sql.types import StructField, StructType, StringType, LongType, IntegerType
from pyspark.sql.functions import udf, date_format

### Step 1: Scope the Project and Gather Data

#### Scope 
Explain what you plan to do in the project in more detail. What data do you use? What is your end solution look like? What tools did you use? etc>

#### Describe and Gather Data 
Describe the data sets you're using. Where did it come from? What type of information is included?

In [2]:
# Read in the data here
#fname = '../../data/18-83510-I94-Data-2016/i94_apr16_sub.sas7bdat'
#df = pd.read_sas(fname, 'sas7bdat', encoding="ISO-8859-1")

In [ ]:
#df.head()

### Step 2: Explore and Assess the Data
#### Explore the Data 
Identify data quality issues, like missing values, duplicate data, etc.

#### Cleaning Steps
Document steps necessary to clean the data

In [ ]:
# Performing cleaning tasks here

##### Read US Cities Demo dataset file

In [3]:
# Read US Cities Demo dataset file
us_spark=spark.read.csv("./data/us-cities-demographics.csv", sep=';', header=True)
# Check columns of dataset
us_spark.columns

['City',
 'State',
 'Median Age',
 'Male Population',
 'Female Population',
 'Total Population',
 'Number of Veterans',
 'Foreign-born',
 'Average Household Size',
 'State Code',
 'Race',
 'Count']

In [4]:
# Check us_spark dataset for duplicate rows and which columns cause the duplicates
us_spark.select("City","state","Median Age","male population","female population","total population", \
                  "foreign-born","Average Household Size").orderBy("city").show()

+-------+----------+----------+---------------+-----------------+----------------+------------+----------------------+
|   City|     state|Median Age|male population|female population|total population|foreign-born|Average Household Size|
+-------+----------+----------+---------------+-----------------+----------------+------------+----------------------+
|Abilene|     Texas|      31.3|          65212|            60664|          125876|        8129|                  2.64|
|Abilene|     Texas|      31.3|          65212|            60664|          125876|        8129|                  2.64|
|Abilene|     Texas|      31.3|          65212|            60664|          125876|        8129|                  2.64|
|Abilene|     Texas|      31.3|          65212|            60664|          125876|        8129|                  2.64|
|Abilene|     Texas|      31.3|          65212|            60664|          125876|        8129|                  2.64|
|  Akron|      Ohio|      38.1|          96886|           100667|          197553|       10024|                  2.24|
|  Akron|      Ohio|      38.1|          96886|           100667|          197553|       10024|                  2.24|
|  Akron|      Ohio|      38.1|          96886|           100667|          197553|       10024|                  2.24|
|  Akron|      Ohio|      38.1|          96886|           100667|          197553|       10024|                  2.24|
|  Akron|      Ohio|      38.1|          96886|           100667|          197553|       10024|                  2.24|
|Alafaya|   Florida|      33.5|          39504|            45760|           85264|       15842|                  2.94|
|Alafaya|   Florida|      33.5|          39504|            45760|           85264|       15842|                  2.94|
|Alafaya|   Florida|      33.5|          39504|            45760|           85264|       15842|                  2.94|
|Alafaya|   Florida|      33.5|          39504|            45760|           85264|       15842|                  2.94|
|Alameda|California|      41.4|          37747|            40867|           78614|       18841|                  2.52|
|Alameda|California|      41.4|          37747|            40867|           78614|       18841|                  2.52|
|Alameda|California|      41.4|          37747|            40867|           78614|       18841|                  2.52|
|Alameda|California|      41.4|          37747|            40867|           78614|       18841|                  2.52|
|Alameda|California|      41.4|          37747|            40867|           78614|       18841|                  2.52|
| Albany|  New York|      32.8|          47627|            50825|           98452|       11948|                  2.08|
+-------+----------+----------+---------------+-----------------+----------------+------------+----------------------+
only showing top 20 rows

##### Transformation of demo dataset file

In [8]:
# Creating 'us_race_cnt' dataset
us_race_cnt=(us_spark.select("city","state code","Race","count")
    .groupby(us_spark.City, "state code")
    .pivot("Race")
    .agg(first("Count")))

In [9]:
# Checking dataset
us_race_cnt.orderBy("city").show()

+------------+----------+---------------------------------+-----+-------------------------+------------------+------+
|        City|state code|American Indian and Alaska Native|Asian|Black or African-American|Hispanic or Latino| White|
+------------+----------+---------------------------------+-----+-------------------------+------------------+------+
|     Abilene|        TX|                             1813| 2929|                    14449|             33222| 95487|
|       Akron|        OH|                             1845| 9033|                    66551|              3684|129192|
|     Alafaya|        FL|                             null|10336|                     6577|             34897| 63666|
|     Alameda|        CA|                             1329|27984|                     7364|              8265| 44232|
|      Albany|        NY|                             1611| 8090|                    31303|              9368| 58368|
|      Albany|        GA|                              445|  650|                    53440|              1783| 17160|
| Albuquerque|        NM|                            32243|25140|                    26774|            271854|411847|
|  Alexandria|        VA|                             1133|13315|                    37168|             25573|106215|
|    Alhambra|        CA|                              687|44067|                     1905|             31386| 20811|
|       Allen|        TX|                              227|15790|                    13140|             10615| 69840|
|       Allen|        PA|                             1076| 2670|                    22304|             59176| 74187|
|    Amarillo|        TX|                             4260| 8563|                    14050|             65392|174214|
|        Ames|        IA|                             null| 8979|                     1103|              2024| 56157|
|     Anaheim|        CA|                             2489|53270|                     9775|            201593|259820|
|   Anchorage|        AK|                            36339|36825|                    23107|             27261|212696|
|   Ann Arbor|        MI|                             1935|18797|                     9577|              5888| 90173|
|     Antioch|        CA|                             3462|14333|                    23227|             35563| 51151|
|Apple Valley|        CA|                             1446| 2281|                     9124|             25928| 60767|
|    Appleton|        WI|                              835| 5561|                     3407|              5139| 64674|
|Arden-Arcade|        CA|                             2587| 7355|                    13647|             15273| 69369|
+------------+----------+---------------------------------+-----+-------------------------+------------------+------+
only showing top 20 rows

In [10]:
# Comparing both datasets after dropping duplicate rows
(us_race_cnt.count(), us_race_cnt.dropDuplicates().count())

(596, 596)

In [11]:
uscols=["Number of Veterans","Race","Count"]

In [12]:
# Drop columns we don't need and drop duplicate rows
us=us_spark.drop(*uscols).dropDuplicates()

In [13]:
# Comparing row count between original and new dataset with dropped duplicate rows
(us_spark.count(), us.count())
# We can see that new cleaned 'us' dataset now matches number of rows with 'us_race_cnt' dataset
# which will be joined together into one 'us' dataset

(2891, 596)

In [14]:
# Checking number of records after joining both data sets
us.join(us_race_cnt, ["city","state code"]).count()
# We now see total rows match both datasets after joining them

596

In [15]:
# Checking data sample
us.join(us_race_cnt, ["city","state code"]).orderBy("city").show()

+------------+----------+------------+----------+---------------+-----------------+----------------+------------+----------------------+---------------------------------+-----+-------------------------+------------------+------+
|        City|State Code|       State|Median Age|Male Population|Female Population|Total Population|Foreign-born|Average Household Size|American Indian and Alaska Native|Asian|Black or African-American|Hispanic or Latino| White|
+------------+----------+------------+----------+---------------+-----------------+----------------+------------+----------------------+---------------------------------+-----+-------------------------+------------------+------+
|     Abilene|        TX|       Texas|      31.3|          65212|            60664|          125876|        8129|                  2.64|                             1813| 2929|                    14449|             33222| 95487|
|       Akron|        OH|        Ohio|      38.1|          96886|           100667|          197553|       10024|                  2.24|                             1845| 9033|                    66551|              3684|129192|
|     Alafaya|        FL|     Florida|      33.5|          39504|            45760|           85264|       15842|                  2.94|                             null|10336|                     6577|             34897| 63666|
|     Alameda|        CA|  California|      41.4|          37747|            40867|           78614|       18841|                  2.52|                             1329|27984|                     7364|              8265| 44232|
|      Albany|        NY|    New York|      32.8|          47627|            50825|           98452|       11948|                  2.08|                             1611| 8090|                    31303|              9368| 58368|
|      Albany|        GA|     Georgia|      33.3|          31695|            39414|           71109|         861|                  2.38|                              445|  650|                    53440|              1783| 17160|
| Albuquerque|        NM|  New Mexico|      36.0|         273323|           285808|          559131|       58200|                  2.49|                            32243|25140|                    26774|            271854|411847|
|  Alexandria|        VA|    Virginia|      36.6|          74989|            78522|          153511|       44030|                   2.2|                             1133|13315|                    37168|             25573|106215|
|    Alhambra|        CA|  California|      41.0|          42184|            43388|           85572|       44441|                  2.89|                              687|44067|                     1905|             31386| 20811|
|       Allen|        TX|       Texas|      37.2|          51324|            46814|           98138|       19649|                  3.04|                              227|15790|                    13140|             10615| 69840|
|       Allen|        PA|Pennsylvania|      33.5|          60626|            59581|          120207|       19652|                  2.67|                             1076| 2670|                    22304|             59176| 74187|
|    Amarillo|        TX|       Texas|      33.8|          99391|           100260|          199651|       21124|                  2.64|                             4260| 8563|                    14050|             65392|174214|
|        Ames|        IA|        Iowa|      23.0|          33814|            31238|           65052|        8606|                  2.16|                             null| 8979|                     1103|              2024| 56157|
|     Anaheim|        CA|  California|      33.6|         179603|           171135|          350738|      137133|                  3.45|                             2489|53270|                     9775|            201593|259820|
|   Anchorage|        AK|      Alaska|      32.2|         152945|           145750|          298695|       33258|                  2.77|                            36339|36825|                    23107|             27261|212696|
|   Ann Arbor|        MI|    Michigan|      28.1|          58789|            58281|          117070|       20717|                  2.17|                             1935|18797|                     9577|              5888| 90173|
|     Antioch|        CA|  California|      34.0|          54733|            55809|          110542|       24942|                  3.31|                             3462|14333|                    23227|             35563| 51151|
|Apple Valley|        CA|  California|      34.3|          32873|            39312|           72185|        5801|                  3.03|                             1446| 2281|                     9124|             25928| 60767|
|    Appleton|        WI|   Wisconsin|      35.6|          37217|            38038|           75255|        4454|                  2.49|                              835| 5561|                     3407|              5139| 64674|
|Arden-Arcade|        CA|  California|      41.5|          47596|            48680|           96276|       13458|                  2.18|                             2587| 7355|                    13647|             15273| 69369|
+------------+----------+------------+----------+---------------+-----------------+----------------+------------+----------------------+---------------------------------+-----+-------------------------+------------------+------+
only showing top 20 rows

In [16]:
# Finally saving (committing) joined US dataset
us=us.join(us_race_cnt, ["city","state code"])

In [17]:
# Another check
(us.count(), us.show(5))

+---------------+----------+-----------+----------+---------------+-----------------+----------------+------------+----------------------+---------------------------------+-----+-------------------------+------------------+------+
|           City|State Code|      State|Median Age|Male Population|Female Population|Total Population|Foreign-born|Average Household Size|American Indian and Alaska Native|Asian|Black or African-American|Hispanic or Latino| White|
+---------------+----------+-----------+----------+---------------+-----------------+----------------+------------+----------------------+---------------------------------+-----+-------------------------+------------------+------+
|Highlands Ranch|        CO|   Colorado|      39.6|          49186|            53281|          102467|        8827|                  2.72|                             1480| 5650|                     1779|              8393| 94499|
|           Kent|        WA| Washington|      33.4|          61825|            65137|          126962|       38175|                  3.06|                             3651|26168|                    20450|             21928| 67918|
|        Madison|        WI|  Wisconsin|      30.7|         122596|           126360|          248956|       30090|                  2.23|                             2296|23937|                    20424|             19697|204302|
|         Denver|        CO|   Colorado|      34.1|         341137|           341408|          682545|      113222|                  2.33|                            14008|32491|                    72288|            207847|546370|
|         Caguas|        PR|Puerto Rico|      40.4|          34743|            42265|           77008|        null|                  null|                              624| null|                     null|             76349|  null|
+---------------+----------+-----------+----------+---------------+-----------------+----------------+------------+----------------------+---------------------------------+-----+-------------------------+------------------+------+
only showing top 5 rows

(596, None)

In [18]:
# Change `state code` column name to `state_code` and other similar problems to avoid parquet complications
us=us.select('City', col('State Code').alias('State_Code'), 'State', col('Median Age').alias('Median_age'),
     col('Male Population').alias('Male_Pop'), col('Female Population').alias('Fem_Pop'), 
        col('Total Population').alias('Ttl_Pop'), 'Foreign-born', 
          col('Average Household Size').alias('Avg_Household_Size'),
             col('American Indian and Alaska Native').alias('Native_Pop'), 
                 col('Asian').alias('Asian_Pop'), 
                    col('Black or African-American').alias('Black_Pop'), 
                      col('Hispanic or Latino').alias('Latino_Pop'), 
                        col('White').alias('White_Pop'))

In [19]:
us.show(2)

+---------------+----------+----------+----------+--------+-------+-------+------------+------------------+----------+---------+---------+----------+---------+
|           City|State_Code|     State|Median_age|Male_Pop|Fem_Pop|Ttl_Pop|Foreign-born|Avg_Household_Size|Native_Pop|Asian_Pop|Black_Pop|Latino_Pop|White_Pop|
+---------------+----------+----------+----------+--------+-------+-------+------------+------------------+----------+---------+---------+----------+---------+
|Highlands Ranch|        CO|  Colorado|      39.6|   49186|  53281| 102467|        8827|              2.72|      1480|     5650|     1779|      8393|    94499|
|           Kent|        WA|Washington|      33.4|   61825|  65137| 126962|       38175|              3.06|      3651|    26168|    20450|     21928|    67918|
+---------------+----------+----------+----------+--------+-------+-------+------------+------------------+----------+---------+---------+----------+---------+
only showing top 2 rows

In [20]:
# Drop the `state` column
us=us.drop("state")

In [21]:
us.columns

['City',
 'State_Code',
 'Median_age',
 'Male_Pop',
 'Fem_Pop',
 'Ttl_Pop',
 'Foreign-born',
 'Avg_Household_Size',
 'Native_Pop',
 'Asian_Pop',
 'Black_Pop',
 'Latino_Pop',
 'White_Pop']

In [22]:
# Now write (and overwrite) transformed `US` dataset onto parquet file
us.write.mode('overwrite').parquet("./data/us_cities_demographics.parquet")

#### I94 NON-IMMIGRATION DATA SET (CLEANING AND TRANSFORMATION)

In [24]:
# Read i94 non-immigration dataset
i94_spark=spark.read.parquet("./data/sas_data")
i94_spark.columns

['cicid',
 'i94yr',
 'i94mon',
 'i94cit',
 'i94res',
 'i94port',
 'arrdate',
 'i94mode',
 'i94addr',
 'depdate',
 'i94bir',
 'i94visa',
 'count',
 'dtadfile',
 'visapost',
 'occup',
 'entdepa',
 'entdepd',
 'entdepu',
 'matflag',
 'biryear',
 'dtaddto',
 'gender',
 'insnum',
 'airline',
 'admnum',
 'fltno',
 'visatype']

In [25]:
i94_spark.select("i94res","i94port","arrdate","i94mode","depdate","i94bir","i94visa","count" \
                  ,"gender",col("admnum").cast(LongType())).show(3)

+------+-------+-------+-------+-------+------+-------+-----+------+-----------+
|i94res|i94port|arrdate|i94mode|depdate|i94bir|i94visa|count|gender|     admnum|
+------+-------+-------+-------+-------+------+-------+-----+------+-----------+
| 438.0|    LOS|20574.0|    1.0|20582.0|  40.0|    1.0|  1.0|     F|94953870030|
| 438.0|    LOS|20574.0|    1.0|20591.0|  32.0|    1.0|  1.0|     F|94955622830|
| 438.0|    LOS|20574.0|    1.0|20582.0|  29.0|    1.0|  1.0|     M|94956406530|
+------+-------+-------+-------+-------+------+-------+-----+------+-----------+
only showing top 3 rows

In [26]:
i94_spark=i94_spark.select(col("i94res").cast(IntegerType()),col("i94port"),
                           col("arrdate").cast(IntegerType()), \
                           col("i94mode").cast(IntegerType()),col("depdate").cast(IntegerType()),
                           col("i94bir").cast(IntegerType()),col("i94visa").cast(IntegerType()), 
                           col("count").cast(IntegerType()), \
                              "gender",col("admnum").cast(LongType()))

In [27]:
i94_spark.show(3)

+------+-------+-------+-------+-------+------+-------+-----+------+-----------+
|i94res|i94port|arrdate|i94mode|depdate|i94bir|i94visa|count|gender|     admnum|
+------+-------+-------+-------+-------+------+-------+-----+------+-----------+
|   438|    LOS|  20574|      1|  20582|    40|      1|    1|     F|94953870030|
|   438|    LOS|  20574|      1|  20591|    32|      1|    1|     F|94955622830|
|   438|    LOS|  20574|      1|  20582|    29|      1|    1|     M|94956406530|
+------+-------+-------+-------+-------+------+-------+-----+------+-----------+
only showing top 3 rows

In [28]:
i94_spark.count(), i94_spark.dropDuplicates().count()

(3096313, 3096302)

In [29]:
i94_spark.dropDuplicates(['admnum']).count()

3075579

In [30]:
# We will drop duplicate rows and save it as final dataset for i94
i94_spark=i94_spark.dropDuplicates()

In [31]:
i94_spark.show(3)

+------+-------+-------+-------+-------+------+-------+-----+------+-----------+
|i94res|i94port|arrdate|i94mode|depdate|i94bir|i94visa|count|gender|     admnum|
+------+-------+-------+-------+-------+------+-------+-----+------+-----------+
|   582|    XXX|  20557|   null|  20558|    34|      2|    1|  null|91904214530|
|   209|    AGA|  20552|      1|   null|  null|      2|    1|     M|47842155333|
|   209|    ATL|  20571|      1|   null|  null|      2|    1|     M|44537883633|
+------+-------+-------+-------+-------+------+-------+-----+------+-----------+
only showing top 3 rows

#### read in sas _labels for further processing

In [42]:
with open('./data/I94_SAS_Labels_Descriptions.SAS') as f:
    f_content = f.read()
    f_content = f_content.replace('\t', '')
def code_mapper(file, idx):
    f_content2 = f_content[f_content.index(idx):]
    f_content2 = f_content2[:f_content2.index(';')].split('\n')
    f_content2 = [i.replace("'", "") for i in f_content2]
    dic = [i.split('=') for i in f_content2[1:]]
    dic = dict([i[0].strip(), i[1].strip()] for i in dic if len(i) == 2)
    return dic
i94cit_res = code_mapper(f_content, "i94cntyl")
i94port = code_mapper(f_content, "i94prtl")
i94mode = code_mapper(f_content, "i94model")
i94addr = code_mapper(f_content, "i94addrl")
i94visa = {'1':'Business',  '2': 'Pleasure', '3' : 'Student'}

In [43]:
labeldescription = [i94cit_res, i94port, i94mode, i94addr, i94visa]
for i in labeldescription:
    print(dict(list(i.items())[0:5]))

{'582': 'MEXICO Air Sea, and Not Reported (I-94, no land arrivals)', '236': 'AFGHANISTAN', '101': 'ALBANIA', '316': 'ALGERIA', '102': 'ANDORRA'}
{'ALC': 'ALCAN, AK', 'ANC': 'ANCHORAGE, AK', 'BAR': 'BAKER AAF - BAKER ISLAND, AK', 'DAC': 'DALTONS CACHE, AK', 'PIZ': 'DEW STATION PT LAY DEW, AK'}
{'1': 'Air', '2': 'Sea', '3': 'Land', '9': 'Not reported'}
{'AL': 'ALABAMA', 'AK': 'ALASKA', 'AZ': 'ARIZONA', 'AR': 'ARKANSAS', 'CA': 'CALIFORNIA'}
{'1': 'Business', '2': 'Pleasure', '3': 'Student'}

[['582', 'MEXICO Air Sea, and Not Reported (I-94, no land arrivals)'],
 ['236', 'AFGHANISTAN'],
 ['101', 'ALBANIA'],
 ['316', 'ALGERIA'],
 ['102', 'ANDORRA'],
 ['324', 'ANGOLA'],
 ['529', 'ANGUILLA'],
 ['518', 'ANTIGUA-BARBUDA'],
 ['687', 'ARGENTINA'],
 ['151', 'ARMENIA'],
 ['532', 'ARUBA'],
 ['438', 'AUSTRALIA'],
 ['103', 'AUSTRIA'],
 ['152', 'AZERBAIJAN'],
 ['512', 'BAHAMAS'],
 ['298', 'BAHRAIN'],
 ['274', 'BANGLADESH'],
 ['513', 'BARBADOS'],
 ['104', 'BELGIUM'],
 ['581', 'BELIZE'],
 ['386', 'BENIN'],
 ['509', 'BERMUDA'],
 ['153', 'BELARUS'],
 ['242', 'BHUTAN'],
 ['688', 'BOLIVIA'],
 ['717', 'BONAIRE, ST EUSTATIUS, SABA'],
 ['164', 'BOSNIA-HERZEGOVINA'],
 ['336', 'BOTSWANA'],
 ['689', 'BRAZIL'],
 ['525', 'BRITISH VIRGIN ISLANDS'],
 ['217', 'BRUNEI'],
 ['105', 'BULGARIA'],
 ['393', 'BURKINA FASO'],
 ['243', 'BURMA'],
 ['375', 'BURUNDI'],
 ['310', 'CAMEROON'],
 ['326', 'CAPE VERDE'],
 ['526', 'CAYMAN ISLANDS'],
 ['383', 'CENTRAL AFRICAN REPUBLIC'],
 ['384', 'CHAD'],
 ['690', 'CHILE'],
 ['245', 'CHINA, PRC'],
 ['721', 'CURACAO'],
 ['270', 'CHRISTMAS ISLAND'],
 ['271', 'COCOS ISLANDS'],
 ['691', 'COLOMBIA'],
 ['317', 'COMOROS'],
 ['385', 'CONGO'],
 ['467', 'COOK ISLANDS'],
 ['575', 'COSTA RICA'],
 ['165', 'CROATIA'],
 ['584', 'CUBA'],
 ['218', 'CYPRUS'],
 ['140', 'CZECH REPUBLIC'],
 ['723', 'FAROE ISLANDS (PART OF DENMARK)'],
 ['108', 'DENMARK'],
 ['322', 'DJIBOUTI'],
 ['519', 'DOMINICA'],
 ['585', 'DOMINICAN REPUBLIC'],
 ['240', 'EAST TIMOR'],
 ['692', 'ECUADOR'],
 ['368', 'EGYPT'],
 ['576', 'EL SALVADOR'],
 ['399', 'EQUATORIAL GUINEA'],
 ['372', 'ERITREA'],
 ['109', 'ESTONIA'],
 ['369', 'ETHIOPIA'],
 ['604', 'FALKLAND ISLANDS'],
 ['413', 'FIJI'],
 ['110', 'FINLAND'],
 ['111', 'FRANCE'],
 ['601', 'FRENCH GUIANA'],
 ['411', 'FRENCH POLYNESIA'],
 ['387', 'GABON'],
 ['338', 'GAMBIA'],
 ['758', 'GAZA STRIP'],
 ['154', 'GEORGIA'],
 ['112', 'GERMANY'],
 ['339', 'GHANA'],
 ['143', 'GIBRALTAR'],
 ['113', 'GREECE'],
 ['520', 'GRENADA'],
 ['507', 'GUADELOUPE'],
 ['577', 'GUATEMALA'],
 ['382', 'GUINEA'],
 ['327', 'GUINEA-BISSAU'],
 ['603', 'GUYANA'],
 ['586', 'HAITI'],
 ['726', 'HEARD AND MCDONALD IS.'],
 ['149', 'HOLY SEE/VATICAN'],
 ['528', 'HONDURAS'],
 ['206', 'HONG KONG'],
 ['114', 'HUNGARY'],
 ['115', 'ICELAND'],
 ['213', 'INDIA'],
 ['759', 'INDIAN OCEAN AREAS (FRENCH)'],
 ['729', 'INDIAN OCEAN TERRITORY'],
 ['204', 'INDONESIA'],
 ['249', 'IRAN'],
 ['250', 'IRAQ'],
 ['116', 'IRELAND'],
 ['251', 'ISRAEL'],
 ['117', 'ITALY'],
 ['388', 'IVORY COAST'],
 ['514', 'JAMAICA'],
 ['209', 'JAPAN'],
 ['253', 'JORDAN'],
 ['201', 'KAMPUCHEA'],
 ['155', 'KAZAKHSTAN'],
 ['340', 'KENYA'],
 ['414', 'KIRIBATI'],
 ['732', 'KOSOVO'],
 ['272', 'KUWAIT'],
 ['156', 'KYRGYZSTAN'],
 ['203', 'LAOS'],
 ['118', 'LATVIA'],
 ['255', 'LEBANON'],
 ['335', 'LESOTHO'],
 ['370', 'LIBERIA'],
 ['381', 'LIBYA'],
 ['119', 'LIECHTENSTEIN'],
 ['120', 'LITHUANIA'],
 ['121', 'LUXEMBOURG'],
 ['214', 'MACAU'],
 ['167', 'MACEDONIA'],
 ['320', 'MADAGASCAR'],
 ['345', 'MALAWI'],
 ['273', 'MALAYSIA'],
 ['220', 'MALDIVES'],
 ['392', 'MALI'],
 ['145', 'MALTA'],
 ['472', 'MARSHALL ISLANDS'],
 ['511', 'MARTINIQUE'],
 ['389', 'MAURITANIA'],
 ['342', 'MAURITIUS'],
 ['760', 'MAYOTTE (AFRICA - FRENCH)'],
 ['473', 'MICRONESIA, FED. STATES OF'],
 ['157', 'MOLDOVA'],
 ['122', 'MONACO'],
 ['299', 'MONGOLIA'],
 ['735', 'MONTENEGRO'],
 ['521', 'MONTSERRAT'],
 ['332', 'MOROCCO'],
 ['329', 'MOZAMBIQUE'],
 ['371', 'NAMIBIA'],
 ['440', 'NAURU'],
 ['257', 'NEPAL'],
 ['123', 'NETHERLANDS'],
 ['508', 'NETHERLANDS ANTILLES'],
 ['409', 'NEW CALEDONIA'],
 ['464', 'NEW ZEALAND'],
 ['579', 'NICARAGUA'],
 ['390', 'NIGER'],
 ['343', 'NIGERIA'],
 ['470', 'NIUE'],
 ['275', 'NORTH KOREA'],
 ['124', 'NORWAY'],
 ['256', 'OMAN'],
 ['258', 'PAKISTAN'],
 ['474', 'PALAU'],
 ['743', 'PALESTINE'],
 ['504', 'PANAMA'],
 ['441', 'PAPUA NEW GUINEA'],
 ['693', 'PARAGUAY'],
 ['694', 'PERU'],
 ['260', 'PHILIPPINES'],
 ['416', 'PITCAIRN ISLANDS'],
 ['107', 'POLAND'],
 ['126', 'PORTUGAL'],
 ['297', 'QATAR'],
 ['748', 'REPUBLIC OF SOUTH SUDAN'],
 ['321', 'REUNION'],
 ['127', 'ROMANIA'],
 ['158', 'RUSSIA'],
 ['376', 'RWANDA'],
 ['128', 'SAN MARINO'],
 ['330', 'SAO TOME AND PRINCIPE'],
 ['261', 'SAUDI ARABIA'],
 ['391', 'SENEGAL'],
 ['142', 'SERBIA AND MONTENEGRO'],
 ['745', 'SERBIA'],
 ['347', 'SEYCHELLES'],
 ['348', 'SIERRA LEONE'],
 ['207', 'SINGAPORE'],
 ['141', 'SLOVAKIA'],
 ['166', 'SLOVENIA'],
 ['412', 'SOLOMON ISLANDS'],
 ['397', 'SOMALIA'],
 ['373', 'SOUTH AFRICA'],
 ['276', 'SOUTH KOREA'],
 ['129', 'SPAIN'],
 ['244', 'SRI LANKA'],
 ['346', 'ST. HELENA'],
 ['522', 'ST. KITTS-NEVIS'],
 ['523', 'ST. LUCIA'],
 ['502', 'ST. PIERRE AND MIQUELON'],
 ['524', 'ST. VINCENT-GRENADINES'],
 ['716', 'SAINT BARTHELEMY'],
 ['736', 'SAINT MARTIN'],
 ['749', 'SAINT MAARTEN'],
 ['350', 'SUDAN'],
 ['602', 'SURINAME'],
 ['351', 'SWAZILAND'],
 ['130', 'SWEDEN'],
 ['131', 'SWITZERLAND'],
 ['262', 'SYRIA'],
 ['268', 'TAIWAN'],
 ['159', 'TAJIKISTAN'],
 ['353', 'TANZANIA'],
 ['263', 'THAILAND'],
 ['304', 'TOGO'],
 ['417', 'TONGA'],
 ['516', 'TRINIDAD AND TOBAGO'],
 ['323', 'TUNISIA'],
 ['264', 'TURKEY'],
 ['161', 'TURKMENISTAN'],
 ['527', 'TURKS AND CAICOS ISLANDS'],
 ['420', 'TUVALU'],
 ['352', 'UGANDA'],
 ['162', 'UKRAINE'],
 ['296', 'UNITED ARAB EMIRATES'],
 ['135', 'UNITED KINGDOM'],
 ['695', 'URUGUAY'],
 ['163', 'UZBEKISTAN'],
 ['410', 'VANUATU'],
 ['696', 'VENEZUELA'],
 ['266', 'VIETNAM'],
 ['469', 'WALLIS AND FUTUNA ISLANDS'],
 ['757', 'WEST INDIES (FRENCH)'],
 ['333', 'WESTERN SAHARA'],
 ['465', 'WESTERN SAMOA'],
 ['216', 'YEMEN'],
 ['139', 'YUGOSLAVIA'],
 ['301', 'ZAIRE'],
 ['344', 'ZAMBIA'],
 ['315', 'ZIMBABWE'],
 ['403', 'INVALID: AMERICAN SAMOA'],
 ['712', 'INVALID: ANTARCTICA'],
 ['700', 'INVALID: BORN ON BOARD SHIP'],
 ['719', 'INVALID: BOUVET ISLAND (ANTARCTICA/NORWAY TERR.)'],
 ['574', 'INVALID: CANADA'],
 ['720', 'INVALID: CANTON AND ENDERBURY ISLS'],
 ['106', 'INVALID: CZECHOSLOVAKIA'],
 ['739', 'INVALID: DRONNING MAUD LAND (ANTARCTICA-NORWAY)'],
 ['394', 'INVALID: FRENCH SOUTHERN AND ANTARCTIC'],
 ['501', 'INVALID: GREENLAND'],
 ['404', 'INVALID: GUAM'],
 ['730', 'INVALID: INTERNATIONAL WATERS'],
 ['731', 'INVALID: JOHNSON ISLAND'],
 ['471', 'INVALID: MARIANA ISLANDS, NORTHERN'],
 ['737', 'INVALID: MIDWAY ISLANDS'],
 ['753', 'INVALID: MINOR OUTLYING ISLANDS - USA'],
 ['740', 'INVALID: NEUTRAL ZONE (S. ARABIA/IRAQ)'],
 ['710', 'INVALID: NON-QUOTA IMMIGRANT'],
 ['505', 'INVALID: PUERTO RICO'],
 ['0', 'INVALID: STATELESS'],
 ['705', 'INVALID: STATELESS'],
 ['583', 'INVALID: UNITED STATES'],
 ['407', 'INVALID: UNITED STATES'],
 ['999', 'INVALID: UNKNOWN'],
 ['239', 'INVALID: UNKNOWN COUNTRY'],
 ['134', 'INVALID: USSR'],
 ['506', 'INVALID: U.S. VIRGIN ISLANDS'],
 ['755', 'INVALID: WAKE ISLAND'],
 ['311', 'Collapsed Tanzania (should not show)'],
 ['741', 'Collapsed Curacao (should not show)'],
 ['54', 'No Country Code (54)'],
 ['100', 'No Country Code (100)'],
 ['187', 'No Country Code (187)'],
 ['190', 'No Country Code (190)'],
 ['200', 'No Country Code (200)'],
 ['219', 'No Country Code (219)'],
 ['238', 'No Country Code (238)'],
 ['277', 'No Country Code (277)'],
 ['293', 'No Country Code (293)'],
 ['300', 'No Country Code (300)'],
 ['319', 'No Country Code (319)'],
 ['365', 'No Country Code (365)'],
 ['395', 'No Country Code (395)'],
 ['400', 'No Country Code (400)'],
 ['485', 'No Country Code (485)'],
 ['503', 'No Country Code (503)'],
 ['589', 'No Country Code (589)'],
 ['592', 'No Country Code (592)'],
 ['791', 'No Country Code (791)'],
 ['849', 'No Country Code (849)'],
 ['914', 'No Country Code (914)'],
 ['944', 'No Country Code (944)'],
 ['996', 'No Country Code (996)']]

#### Performing cleaning tasks for i94 code lists and creating dimension tables

In [32]:

# Start processing the I9I94_SAS_Labels_Description.SAS to create master i94 code dimensions:

'''
/* I94MODE - There are missing values as well as not reported (9) */
	1 = 'Air'
	2 = 'Sea'
	3 = 'Land'
	9 = 'Not reported' ;
'''
# Create i94mode list
i94mode_data =[[1,'Air'],[2,'Sea'],[3,'Land'],[9,'Not reported']]

# Convert to spark dataframe
i94mode=spark.createDataFrame(i94mode_data)

# Create i94mode parquet file
i94mode.write.mode("overwrite").parquet('./data/i94mode.parquet')

In [ ]:
df = pd.DataFrame(list(i94port.items()),columns = ['id','port_city']) 
df = pd.concat([df, df['port_city'].str.split(', ', expand=True)], axis=1).drop(columns=['port_city', 2]).rename(columns={0: 'city', 1: 'state'}).set_index('id')
df.to_csv('./data/i94port.csv')

In [56]:
# Read i94port text file
i94port_df = pd.read_csv('./data/i94port.csv')

In [57]:
i94port_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 660 entries, 0 to 659
Data columns (total 3 columns):
id       660 non-null object
city     660 non-null object
state    582 non-null object
dtypes: object(3)
memory usage: 15.5+ KB

In [58]:
i94port_data=i94port_df.values.tolist()

In [59]:
# Now convert list to spark dataframe
# Create a schema for the dataframe
i94port_schema = StructType([
    StructField('id', StringType(), True),
    StructField('port_city', StringType(), True),
    StructField('port_state', StringType(), True)
])
i94port=spark.createDataFrame(i94port_data, i94port_schema)

In [60]:
# Create parquet file
i94port.write.mode('overwrite').parquet('./data/i94port.parquet')

In [65]:
i94res_df = pd.DataFrame(list(i94cit_res.items()),columns = ['id','country']) 
#Remove whitespaces and single quotes
#i94res_df['country']=i94res_df['country'].str.replace("'",'').str.strip()
# Convert pandas dataframe to list (objects which had single quotes removed automatically become string again with single quotes)
i94res_data=i94res_df.values.tolist()

In [66]:
# Now convert list to spark dataframe
# Create a schema for the dataframe
i94res_schema = StructType([
    StructField('id', StringType(), True),
    StructField('country', StringType(), True)
])
i94res=spark.createDataFrame(i94res_data, i94res_schema)

In [67]:
# Create parquet file
i94res.write.mode('overwrite').parquet('./data/i94res.parquet')

In [68]:
'''/* I94VISA - Visa codes collapsed into three categories:
   1 = Business
   2 = Pleasure
   3 = Student
*/'''
i94visa_data = [[1, 'Business'], [2, 'Pleasure'], [3, 'Student']]

In [69]:
# Convert to spark dataframe
i94visa=spark.createDataFrame(i94visa_data)

In [70]:

# Create parquet file
i94visa.write.mode('overwrite').parquet('./data/i94visa.parquet')

In [71]:

us.show(3)

+---------------+----------+----------+--------+-------+-------+------------+------------------+----------+---------+---------+----------+---------+
|           City|State_Code|Median_age|Male_Pop|Fem_Pop|Ttl_Pop|Foreign-born|Avg_Household_Size|Native_Pop|Asian_Pop|Black_Pop|Latino_Pop|White_Pop|
+---------------+----------+----------+--------+-------+-------+------------+------------------+----------+---------+---------+----------+---------+
|Highlands Ranch|        CO|      39.6|   49186|  53281| 102467|        8827|              2.72|      1480|     5650|     1779|      8393|    94499|
|           Kent|        WA|      33.4|   61825|  65137| 126962|       38175|              3.06|      3651|    26168|    20450|     21928|    67918|
|        Madison|        WI|      30.7|  122596| 126360| 248956|       30090|              2.23|      2296|    23937|    20424|     19697|   204302|
+---------------+----------+----------+--------+-------+-------+------------+------------------+----------+---------+---------+----------+---------+
only showing top 3 rows

In [72]:
i94_spark.columns

['i94res',
 'i94port',
 'arrdate',
 'i94mode',
 'depdate',
 'i94bir',
 'i94visa',
 'count',
 'gender',
 'admnum']

In [73]:
# Add i94port city and state columns to i94 dataframe
i94_spark.join(i94port, i94_spark.i94port==i94port.id, how='left').count()

3096302

In [74]:
# Commit i94_spark
i94_spark=i94_spark.join(i94port, i94_spark.i94port==i94port.id, how='left')

In [75]:
i94_spark.show()

+------+-------+-------+-------+-------+------+-------+-----+------+-----------+---+---------+----------+
|i94res|i94port|arrdate|i94mode|depdate|i94bir|i94visa|count|gender|     admnum| id|port_city|port_state|
+------+-------+-------+-------+-------+------+-------+-----+------+-----------+---+---------+----------+
|   110|    BGM|  20550|      1|  20556|    36|      1|    1|     F|92847893530|BGM|   BANGOR|        ME|
|   108|    BGM|  20569|      1|  20571|    43|      1|    1|     M|59234302533|BGM|   BANGOR|        ME|
|   129|    BGM|  20559|      1|  20584|    67|      1|    1|     M|93553405030|BGM|   BANGOR|        ME|
|   261|    BGM|  20568|      1|   null|     9|      1|    1|     M|94455571030|BGM|   BANGOR|        ME|
|   135|    BGM|  20564|      1|  20569|    30|      2|    1|     M|94033156330|BGM|   BANGOR|        ME|
|   111|    BGM|  20563|      1|  20567|    56|      1|    1|     M|93951299930|BGM|   BANGOR|        ME|
|   582|    BGM|  20563|      1|  20575|    57|      1|    1|     M|93924664230|BGM|   BANGOR|        ME|
|   373|    BGM|  20547|      1|  20549|    55|      1|    1|     M|92692756930|BGM|   BANGOR|        ME|
|   127|    BGM|  20571|      1|  20661|    27|      1|    1|     F|94670010530|BGM|   BANGOR|        ME|
|   582|    BGM|  20566|      1|  20567|    42|      1|    1|     M|94251980230|BGM|   BANGOR|        ME|
|   124|    BGM|  20547|      1|  20549|    38|      1|    1|     M|92692552430|BGM|   BANGOR|        ME|
|   135|    BGM|  20564|      1|  20569|    33|      2|    1|     M|94033775030|BGM|   BANGOR|        ME|
|   108|    BGM|  20569|      1|  20571|    40|      1|    1|     M|94510578330|BGM|   BANGOR|        ME|
|   135|    BGM|  20565|      1|  20581|    34|      2|    1|     F|56546213233|BGM|   BANGOR|        ME|
|   135|    BGM|  20547|      1|  20687|    69|      1|    1|     M|92664011030|BGM|   BANGOR|        ME|
|   158|    BGM|  20547|      1|  20550|    15|      2|    1|     F|92609680230|BGM|   BANGOR|        ME|
|   135|    BGM|  20556|      1|  20557|    63|      1|    1|     M|93334238330|BGM|   BANGOR|        ME|
|   112|    BGM|  20566|      1|  20581|    45|      1|    1|     M|94264768730|BGM|   BANGOR|        ME|
|   135|    BGM|  20547|      1|  20678|    62|      2|    1|     M|92648354430|BGM|   BANGOR|        ME|
|   135|    BGM|  20564|      1|  20569|    36|      2|    1|     M|94033624830|BGM|   BANGOR|        ME|
+------+-------+-------+-------+-------+------+-------+-----+------+-----------+---+---------+----------+
only showing top 20 rows

In [76]:

# Drop `id` column
i94_spark=i94_spark.drop("id")

In [77]:
i94_spark.columns

['i94res',
 'i94port',
 'arrdate',
 'i94mode',
 'depdate',
 'i94bir',
 'i94visa',
 'count',
 'gender',
 'admnum',
 'port_city',
 'port_state']

In [78]:
us.columns

['City',
 'State_Code',
 'Median_age',
 'Male_Pop',
 'Fem_Pop',
 'Ttl_Pop',
 'Foreign-born',
 'Avg_Household_Size',
 'Native_Pop',
 'Asian_Pop',
 'Black_Pop',
 'Latino_Pop',
 'White_Pop']

In [79]:

# Join US with i94_spark to get fact table `i94non_immigrant_port_entry`
# NOTE: We use left join againt city records which may cause null values because
# we may not currently have demographic stats on all U.S. ports of entry
i94non_immigrant_port_entry=i94_spark.join(us, (upper(i94_spark.port_city)==upper(us.City)) & \
                                           (upper(i94_spark.port_state)==upper(us.State_Code)), how='left')

In [80]:
i94non_immigrant_port_entry.count()

3096302

In [81]:

i94non_immigrant_port_entry.columns

['i94res',
 'i94port',
 'arrdate',
 'i94mode',
 'depdate',
 'i94bir',
 'i94visa',
 'count',
 'gender',
 'admnum',
 'port_city',
 'port_state',
 'City',
 'State_Code',
 'Median_age',
 'Male_Pop',
 'Fem_Pop',
 'Ttl_Pop',
 'Foreign-born',
 'Avg_Household_Size',
 'Native_Pop',
 'Asian_Pop',
 'Black_Pop',
 'Latino_Pop',
 'White_Pop']

In [82]:
# Drop City and State_Code
i94non_immigrant_port_entry=i94non_immigrant_port_entry.drop("City","State_Code")

In [83]:
i94non_immigrant_port_entry.show()

+------+-------+-------+-------+-------+------+-------+-----+------+-----------+---------+----------+----------+--------+-------+-------+------------+------------------+----------+---------+---------+----------+---------+
|i94res|i94port|arrdate|i94mode|depdate|i94bir|i94visa|count|gender|     admnum|port_city|port_state|Median_age|Male_Pop|Fem_Pop|Ttl_Pop|Foreign-born|Avg_Household_Size|Native_Pop|Asian_Pop|Black_Pop|Latino_Pop|White_Pop|
+------+-------+-------+-------+-------+------+-------+-----+------+-----------+---------+----------+----------+--------+-------+-------+------------+------------------+----------+---------+---------+----------+---------+
|   103|    NEC|  20556|      3|  20557|    51|      2|    1|     F|  788711085|    NECHE|        ND|      null|    null|   null|   null|        null|              null|      null|     null|     null|      null|     null|
|   112|    NEC|  20573|      3|  20575|    32|      2|    1|     F|59477349333|    NECHE|        ND|      null|    null|   null|   null|        null|              null|      null|     null|     null|      null|     null|
|   245|    LEW|  20574|      3|  20576|    21|      2|    1|     F|94960311530| LEWISTON|        NY|      null|    null|   null|   null|        null|              null|      null|     null|     null|      null|     null|
|   245|    LEW|  20546|      3|   null|    27|      3|    1|     F|71136033030| LEWISTON|        NY|      null|    null|   null|   null|        null|              null|      null|     null|     null|      null|     null|
|   263|    LEW|  20559|      3|  20561|    38|      2|    1|  null|93151263430| LEWISTON|        NY|      null|    null|   null|   null|        null|              null|      null|     null|     null|      null|     null|
|   514|    LEW|  20574|      3|  20596|    38|      2|    1|     F|94972653530| LEWISTON|        NY|      null|    null|   null|   null|        null|              null|      null|     null|     null|      null|     null|
|   112|    LEW|  20560|      3|   null|    48|      2|    1|     M|17269695927| LEWISTON|        NY|      null|    null|   null|   null|        null|              null|      null|     null|     null|      null|     null|
|   514|    LEW|  20552|      3|  20554|    52|      2|    1|     F|  745535185| LEWISTON|        NY|      null|    null|   null|   null|        null|              null|      null|     null|     null|      null|     null|
|   260|    LEW|  20559|      3|  20561|    53|      2|    1|     F|80354257630| LEWISTON|        NY|      null|    null|   null|   null|        null|              null|      null|     null|     null|      null|     null|
|   206|    LEW|  20549|      3|  20554|    20|      2|    1|     F|91281323030| LEWISTON|        NY|      null|    null|   null|   null|        null|              null|      null|     null|     null|      null|     null|
|   213|    LEW|  20573|      3|  20575|    31|      2|    1|     F|79211218230| LEWISTON|        NY|      null|    null|   null|   null|        null|              null|      null|     null|     null|      null|     null|
|   274|    LEW|  20573|      3|  20576|    31|      2|    1|     M|94859874130| LEWISTON|        NY|      null|    null|   null|   null|        null|              null|      null|     null|     null|      null|     null|
|   213|    LEW|  20573|      3|  20576|    34|      2|    1|     M|94831519930| LEWISTON|        NY|      null|    null|   null|   null|        null|              null|      null|     null|     null|      null|     null|
|   276|    LEW|  20560|      3|  20574|    35|      3|    1|     F|77790902930| LEWISTON|        NY|      null|    null|   null|   null|        null|              null|      null|     null|     null|      null|     null|
|   111|    LEW|  20570|      3|  20576|    47|      2|    1|     M|59315035133| LEWISTON|        NY|      null|    null|   null|   null|        null|              null|      null|     null|     null|      null|     null|
|   213|    LEW|  20571|      3|  20622|    47|      2|    1|     F|  751570585| LEWISTON|        NY|      null|    null|   null|   null|        null|              null|      null|     null|     null|      null|     null|
|   135|    LEW|  20558|      3|  20560|    52|      2|    1|     M|55840487133| LEWISTON|        NY|      null|    null|   null|   null|        null|              null|      null|     null|     null|      null|     null|
|   135|    LEW|  20560|      3|  20561|    53|      2|    1|     M|54209393433| LEWISTON|        NY|      null|    null|   null|   null|        null|              null|      null|     null|     null|      null|     null|
|   514|    LEW|  20574|      3|  20575|    56|      2|    1|     F|80374948630| LEWISTON|        NY|      null|    null|   null|   null|        null|              null|      null|     null|     null|      null|     null|
|   111|    LEW|  20562|      3|  20565|    57|      1|    1|     M|56399954533| LEWISTON|        NY|      null|    null|   null|   null|        null|              null|      null|     null|     null|      null|     null|
+------+-------+-------+-------+-------+------+-------+-----+------+-----------+---------+----------+----------+--------+-------+-------+------------+------------------+----------+---------+---------+----------+---------+
only showing top 20 rows

In [84]:
# Convert SAS arrival date to datetime format
get_date = udf(lambda x: (dt.datetime(1960, 1, 1).date() + dt.timedelta(x)).isoformat() if x else None)
i94non_immigrant_port_entry = i94non_immigrant_port_entry.withColumn("arrival_date", get_date(i94non_immigrant_port_entry.arrdate))

In [85]:
i94non_immigrant_port_entry.show(3)

+------+-------+-------+-------+-------+------+-------+-----+------+-----------+---------+----------+----------+--------+-------+-------+------------+------------------+----------+---------+---------+----------+---------+------------+
|i94res|i94port|arrdate|i94mode|depdate|i94bir|i94visa|count|gender|     admnum|port_city|port_state|Median_age|Male_Pop|Fem_Pop|Ttl_Pop|Foreign-born|Avg_Household_Size|Native_Pop|Asian_Pop|Black_Pop|Latino_Pop|White_Pop|arrival_date|
+------+-------+-------+-------+-------+------+-------+-----+------+-----------+---------+----------+----------+--------+-------+-------+------------+------------------+----------+---------+---------+----------+---------+------------+
|   103|    NEC|  20556|      3|  20557|    51|      2|    1|     F|  788711085|    NECHE|        ND|      null|    null|   null|   null|        null|              null|      null|     null|     null|      null|     null|  2016-04-12|
|   112|    NEC|  20573|      3|  20575|    32|      2|    1|     F|59477349333|    NECHE|        ND|      null|    null|   null|   null|        null|              null|      null|     null|     null|      null|     null|  2016-04-29|
|   245|    LEW|  20574|      3|  20576|    21|      2|    1|     F|94960311530| LEWISTON|        NY|      null|    null|   null|   null|        null|              null|      null|     null|     null|      null|     null|  2016-04-30|
+------+-------+-------+-------+-------+------+-------+-----+------+-----------+---------+----------+----------+--------+-------+-------+------------+------------------+----------+---------+---------+----------+---------+------------+
only showing top 3 rows

In [86]:
i94date=i94non_immigrant_port_entry.select(col('arrdate').alias('arrival_sasdate'),
                                   col('arrival_date').alias('arrival_iso_date'),
                                   date_format('arrival_date','M').alias('arrival_month'),
                                   date_format('arrival_date','E').alias('arrival_dayofweek'), 
                                   date_format('arrival_date', 'y').alias('arrival_year'), 
                                   date_format('arrival_date', 'd').alias('arrival_day'),
                                  date_format('arrival_date','w').alias('arrival_weekofyear')).dropDuplicates()

In [87]:
# Drop arrival_date column from the i94non_immigrant_port_entry dataframe and finally save it to parquet file 
i94non_immigrant_port_entry.drop('arrival_date').write.mode("overwrite").parquet('./data/i94non_immigrant_port_entry.parquet')

In [88]:
i94date.count()

30

In [89]:
i94date.show(5)

+---------------+----------------+-------------+-----------------+------------+-----------+------------------+
|arrival_sasdate|arrival_iso_date|arrival_month|arrival_dayofweek|arrival_year|arrival_day|arrival_weekofyear|
+---------------+----------------+-------------+-----------------+------------+-----------+------------------+
|          20562|      2016-04-18|            4|              Mon|        2016|         18|                17|
|          20554|      2016-04-10|            4|              Sun|        2016|         10|                16|
|          20556|      2016-04-12|            4|              Tue|        2016|         12|                16|
|          20548|      2016-04-04|            4|              Mon|        2016|          4|                15|
|          20553|      2016-04-09|            4|              Sat|        2016|          9|                15|
+---------------+----------------+-------------+-----------------+------------+-----------+------------------+
only showing top 5 rows

In [90]:
# Create temporary sql table
i94date.createOrReplaceTempView("i94date_table")

In [91]:
# Add seasons to i94 date dimension table
i94date_season=spark.sql('''select arrival_sasdate,
                         arrival_iso_date,
                         arrival_month,
                         arrival_dayofweek,
                         arrival_year,
                         arrival_day,
                         arrival_weekofyear,
                         CASE WHEN arrival_month IN (12, 1, 2) THEN 'winter' 
                                WHEN arrival_month IN (3, 4, 5) THEN 'spring' 
                                WHEN arrival_month IN (6, 7, 8) THEN 'summer' 
                                ELSE 'autumn' 
                         END AS date_season from i94date_table''')

In [92]:
i94date_season.show(3)

+---------------+----------------+-------------+-----------------+------------+-----------+------------------+-----------+
|arrival_sasdate|arrival_iso_date|arrival_month|arrival_dayofweek|arrival_year|arrival_day|arrival_weekofyear|date_season|
+---------------+----------------+-------------+-----------------+------------+-----------+------------------+-----------+
|          20562|      2016-04-18|            4|              Mon|        2016|         18|                17|     spring|
|          20554|      2016-04-10|            4|              Sun|        2016|         10|                16|     spring|
|          20556|      2016-04-12|            4|              Tue|        2016|         12|                16|     spring|
+---------------+----------------+-------------+-----------------+------------+-----------+------------------+-----------+
only showing top 3 rows

In [ ]:
# Save i94date dimension to parquet file partitioned by year and month:
i94date_season.write.mode("overwrite").partitionBy("arrival_year", "arrival_month").parquet('./data/i94date.parquet')

### Step 3: Define the Data Model
#### 3.1 Conceptual Data Model
Map out the conceptual data model and explain why you chose that model

#### 3.2 Mapping Out Data Pipelines
List the steps necessary to pipeline the data into the chosen data model

### Step 4: Run Pipelines to Model the Data 
#### 4.1 Create the data model
Build the data pipelines to create the data model.

In [ ]:
# Write code here

#### 4.2 Data Quality Checks
Explain the data quality checks you'll perform to ensure the pipeline ran as expected. These could include:
 * Integrity constraints on the relational database (e.g., unique key, data type, etc.)
 * Unit tests for the scripts to ensure they are doing the right thing
 * Source/Count checks to ensure completeness
 
Run Quality Checks

In [ ]:
# Perform quality checks here
# Perform quality checks here

if us_spark.count() > 0:
    print('Passed reading data file.')
else:
    print('Seems to be nothing in file!')

if us.count() == us_race_cnt.count():
    print('Transformation went perfect.')
else:
    print('Inconsistant data between both dataframes!')

if i94_spark.count() > 0:
    print('Passed reading data file.')
else:
    print('Seems to be nothing in file!')
    
if i94_spark.count() == i94non_immigrant_port_entry.count():
    print('Transformation went perfect.')
else:
    print('Inconsistant data between both dataframes!')

#### 4.3 Data dictionary 
Create a data dictionary for your data model. For each field, provide a brief description of what the data is and where it came from. You can include the data dictionary in the notebook or in a separate file.

#### Step 5: Complete Project Write Up
* Clearly state the rationale for the choice of tools and technologies for the project.
* Propose how often the data should be updated and why.
* Write a description of how you would approach the problem differently under the following scenarios:
 * The data was increased by 100x.
 * The data populates a dashboard that must be updated on a daily basis by 7am every day.
 * The database needed to be accessed by 100+ people.